{% extends "core/base.html" %}

{% block title %} Privacy Policy {% endblock title %}

{% block content %}
    <div class="mb-60 mt-6 px-6 py-12 bg-gray-100 bg-opacity-70 rounded-xl overflow-y-auto" style="max-height: 20em;">
        <h2 class="mb-12 text-2xl text-center">About Us</h2>
        <p class="text-lg text-gray-700 leading-relaxed">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        </p>
        <p class="text-lg text-gray-700 leading-relaxed">
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
        </p>
    </div>

{% endblock content %}